.rating-star-wrapper {
    width: 125px;
    display: flex;
    flex-flow: row-reverse;
}

.rating-star {
    width: 25px;
    height: 25px;
    border: none;
    padding: 3px;
    margin: 0;
    border-radius: 100%;
    /* color: rgb(255, 255, 255); */
    background-color: transparent;
    font-size: 16px;
    transition:
    0.2s opacity ease-in-out;
    opacity: 0.5;
    outline: none !important;
}

.rating-star i {
    pointer-events: none !important;
}

.rating-star:hover {
    cursor: pointer;
    opacity: 1;
}

.rs-1:hover ~ .rating-star {
    opacity: 1;
}